<!-- <div class="card" style="width: 500px;">
    <div style="width: 90%; height: 100%;"> -->

        <ngx-charts-bar-vertical-stacked roundEdges="true" legendTitle="الوحدات" [legendPosition]="legendPosition"
            [scheme]="colorScheme" [results]="visits" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
            [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel" [animations]="animations" [showDataLabel]="true" (select)="onSelect($event)"
            [maxXAxisTickLength]="20" [barPadding]="40" [roundDomains]="true" [view]="view">
        </ngx-charts-bar-vertical-stacked>
    <!-- </div>

</div> -->


