<app-stats></app-stats>
<!-- <app-battelion-unit></app-battelion-unit>
<app-unit-visit></app-unit-visit> -->




<div class="grid grid-cols-12 gap-8" style="direction: ltr;">
    <div class="col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-6" style="direction: ltr;">
        <div class="card mb-0">
            <span class="block text-muted-color font-bold mb-4" style="direction: ltr;">Visits by Battalion</span>
            <div class="flex justify-center mb-4">
                <div>
                    <app-battelion-unit></app-battelion-unit>
                </div>
            </div>
        </div>
    </div>
    <div class="col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-6" style="direction: ltr;">
        <div class="card mb-0">
            <span class="block text-muted-color font-bold mb-4" style="direction: ltr;">Visits by Unit</span>
            <div class="flex justify-center mb-4">
                <div>
                    <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
                        <app-unit-visit></app-unit-visit>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br>

<div class="grid grid-cols-12 gap-12" style="direction: ltr;">
    <div class="col-span-12 md:col-span-12 lg:col-span-12 xl:col-span-12" style="direction: ltr;">
        <div class="card mb-0">
            <!-- <span class="block text-muted-color font-medium mb-4" style="direction: ltr;">Visits by Battalion</span> -->
            <div class="flex justify-center">
                <div style="width: 100%;">
                    <app-visit-detail></app-visit-detail>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-visit-detail></app-visit-detail> -->