<div class="card" style="margin: 0.5rem; margin-bottom: 1rem;">
    <div style="position: relative;">
        <p-table #units [value]="unitList" dataKey="id" class="p-datatable-sm" [paginator]="true" [rows]="10"
            [globalFilterFields]="['id','name', 'warranty_start_date', 'warranty_end_date', 'secret_no', 'battelion_name', 'unit_type_name']"
            [rowsPerPageOptions]="[5,10,20]" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} units">
            <ng-template #caption>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                        <p-iconfield iconPosition="left" class="ml-auto">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text"
                                (input)="units.filterGlobal($any($event.target).value, 'contains')"
                                placeholder="Search unit" />
                        </p-iconfield>
                    </div>
                    <div class="flex justify-end mb-3">
                        <button pButton type="button" label="Add New Unit" icon="pi pi-plus"
                            (click)="onAddUnit()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="id" [style]="{'text-align': 'center'}">Unit Code <p-sortIcon
                        field="name"></p-sortIcon></th>
                        <th pSortableColumn="name" [style]="{'text-align': 'center'}">Unit Name <p-sortIcon
                            field="name"></p-sortIcon></th>
                            
                            <th pSortableColumn="battelion_id" [style]="{'text-align': 'center', 'align-items': 'center'}">
                                <div class="flex items-center" style="justify-content: center;">
                                    Battalion
                                    <p-columnFilter [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                                        field="battelion_id" matchMode="equals" display="menu">
                                        <ng-template #filter let-value let-filter="filterCallback">
                                            <p-select optionLabel="name" optionValue="id" [ngModel]="value"
                                                [options]="battelions" (onChange)="filter($event.value)"
                                                placeholder="Select Battalion" styleClass="w-full">
                                                <ng-template let-option #item>
                                                    <span>{{ option.name }}</span>
                                                </ng-template>
                                            </p-select>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="secret_no" [style]="{'text-align': 'center'}">Company</th>

                    <th pSortableColumn="unit_type_id" [style]="{'text-align': 'center'}">Unit Type <p-sortIcon
                            field="unit_type_id"></p-sortIcon></th>
                    <th pSortableColumn="phase_id" [style]="{'text-align': 'center', 'align-items': 'center'}">
                        <div class="flex items-center" style="justify-content: center;">
                            Phase
                            <p-columnFilter [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                                field="phase_id" matchMode="equals" display="menu">
                                <ng-template #filter let-value let-filter="filterCallback">
                                    <p-select optionLabel="name" optionValue="id" [ngModel]="value" [options]="phases"
                                        (onChange)="filter($event.value)" placeholder="Select Phase" styleClass="w-full">
                                        <ng-template let-option #item>
                                            <span>{{ option.name }}</span>
                                        </ng-template>
                                    </p-select>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="warranty_start_date" [style]="{'text-align': 'center'}">Warranty Start</th>
                    <th pSortableColumn="warranty_end_date" [style]="{'text-align': 'center'}">Warranty End</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-unit let-rowIndex="rowIndex">
                <tr>
                    <td [style]="{'text-align': 'center'}">{{ unit.id }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.name }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.battelion_name }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.secret_no }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.unit_type_name }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.phase_name }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.warranty_start_date }}</td>
                    <td [style]="{'text-align': 'center'}">{{ unit.warranty_end_date }}</td>
                    <td style="text-align: center;">
                        <button pButton type="button" icon="pi pi-pencil" class="p-button-text p-button-sm"
                            (click)="onEditUnit(unit)"></button>
                        <button pButton type="button" icon="pi pi-trash"
                            class="p-button-text p-button-sm p-button-danger"
                            (click)="confirmDeleteUnit(unit)"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" style="text-align: center; color: #888;">No data available</td>
                </tr>
            </ng-template>
        </p-table>
        <ngx-spinner bdColor="rgb(51 51 51 / 45%)" size="medium" color="#fff" type="ball-scale-multiple"
            [fullScreen]="false">
        </ngx-spinner>
    </div>
</div>

<p-dialog [header]="isEditMode ? 'Edit Unit' : 'Add New Unit'" [(visible)]="displayDialog" [modal]="true"
    [closable]="true" [style]="{width: '450px', height: 'auto', 'min-height': '420px'}">
    <form (ngSubmit)="saveUnit()" #unitForm="ngForm">
        <div class="flex flex-col gap-3">
            <div class="p-field">
                <label class="block mb-1">Unit Code</label>
                <input pInputText [(ngModel)]="newUnit.id" name="id" required class="w-full" />
            </div>
            <div class="p-field">
                <label class="block mb-1">Unit Name</label>
                <input pInputText [(ngModel)]="newUnit.name" name="name" required class="w-full" />
            </div>
            <div class="p-field">
                <label class="block mb-1">Unit Type</label>
                <p-select [options]="unitTypes" optionLabel="name" optionValue="id" [(ngModel)]="newUnit.unit_type_id"
                    name="unit_type_id" placeholder="Select Unit Type" required class="w-full"></p-select>
            </div>
            <div class="p-field">
                <label class="block mb-1">Battalion</label>
                <p-select [options]="battelions" optionLabel="name" optionValue="id" [(ngModel)]="newUnit.battelion_id"
                    name="battelion_id" placeholder="Select Battalion" required class="w-full"></p-select>
            </div>
            <div class="p-field">
                <label class="block mb-1">Phase</label>
                <p-select [options]="phases" optionLabel="name" optionValue="id" [(ngModel)]="newUnit.phase_id"
                    name="phase_id" placeholder="Select Phase" required class="w-full"></p-select>
            </div>
            <div class="p-field">
                <label class="block mb-1">Warranty Start</label>
                <!-- <input pInputText [(ngModel)]="newUnit.warranty_start_date" name="warranty_start_date" class="w-full" /> -->
                <p-datepicker [(ngModel)]="newUnit.warranty_start_date" [style]="{'width': '100%'}"
                    name="warranty_start_date" inputId="warranty_start_date" dateFormat="dd/mm/yy" class="w-full"
                    >
                </p-datepicker>
            </div>
            <div class="p-field">
                <label class="block mb-1">Warranty End</label>
                <!-- <input pInputText [(ngModel)]="newUnit.warranty_end_date" name="warranty_end_date" class="w-full" /> -->
                <p-datepicker [(ngModel)]="newUnit.warranty_end_date" [style]="{'width': '100%'}"
                    name="warranty_end_date" inputId="warranty_end_date" dateFormat="dd/mm/yy" class="w-full"
                    >
                </p-datepicker>
            </div>
            <div class="p-field">
                <label class="block mb-1">Company</label>
                <input pInputText [(ngModel)]="newUnit.secret_no" name="secret_no" class="w-full" />
            </div>
        </div>
        <div class="flex justify-end gap-2 mt-4" style="margin-top: 2rem;">
            <button pButton type="button" label="Cancel" class="p-button-text" (click)="cancelDialog()"></button>
            <button pButton type="submit" [label]="isEditMode ? 'Update' : 'Save'"
                [disabled]="!unitForm.form.valid"></button>
        </div>
    </form>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog [style]="{direction: 'rtl'}"></p-confirmDialog>