<div style="position: relative;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
    <div style="position: relative; display: flex; align-items: center;">
      <i class="pi pi-search" style="position: absolute; right: 0.75rem; color: #aaa;"></i>
      <input pInputText type="text" style="padding-right: 2rem; min-width: 220px;"
        (input)="missionsTable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search mission" />
    </div>
    <div class="flex justify-end mb-3">
      <button pButton type="button" label="Add New Mission" icon="pi pi-plus" (click)="onAddMission()"></button>
    </div>
  </div>
  <p-table #missionsTable [value]="missions" dataKey="id" editable="true" class="p-datatable-sm" [paginator]="true"
    [rows]="10" [rowsPerPageOptions]="[5,10,20]" [selection]="selectedMission"
    (selectionChange)="onSelectMission($event)" (onRowUnselect)="onUnselectMission()" selectionMode="single"
    [first]="first" [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} missions"
    [globalFilterFields]="['id', 'zone_name', 'start_date', 'end_date', 'purpose_name', 'destination_city']">
    <ng-template pTemplate="header">
      <tr>
        <th [style]="{'text-align': 'center'}">#</th>
        <th pSortableColumn="id" [style]="{'text-align': 'center'}">Mission No. <p-sortIcon field="id"></p-sortIcon>
        </th>
        <th pSortableColumn="zone_id" [style]="{'text-align': 'center'}">Zone <p-sortIcon
            field="zone_id"></p-sortIcon></th>
        <th pSortableColumn="start_date" [style]="{'text-align': 'center'}">Start Date<p-sortIcon
            field="start_date"></p-sortIcon></th>
        <th pSortableColumn="end_date" [style]="{'text-align': 'center'}">End Date<p-sortIcon
            field="end_date"></p-sortIcon></th>
        <th pSortableColumn="purpose_id" [style]="{'text-align': 'center'}">Purpose <p-sortIcon
            field="purpose_id"></p-sortIcon></th>
        <th pSortableColumn="destination_city" [style]="{'text-align': 'center'}">City <p-sortIcon
            field="destination_city"></p-sortIcon></th>
        <th [style]="{'text-align': 'center'}">Report</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mission let-rowIndex="rowIndex" let-editing="editing">
      <tr [pSelectableRow]="mission">
        <td [style]="{'text-align': 'center'}">{{ rowIndex + 1 }}</td>
        <td [style]="{'text-align': 'center'}">{{ mission.id }}</td>
        <td [style]="{'text-align': 'center'}">{{ mission.zone_name }}</td>
        <td [style]="{'text-align': 'center'}">{{ mission.start_date | date:'dd/MM/yyyy' }}</td>
        <td [style]="{'text-align': 'center'}">{{ mission.end_date | date:'dd/MM/yyyy' }}</td>
        <td [style]="{'text-align': 'center'}">{{ mission.purpose_name }}</td>
        <td [style]="{'text-align': 'center'}">{{ mission.destination_city }}</td>
        <td [style]="{'text-align': 'center'}">
          <button *ngIf="mission.report_path" pButton icon="pi pi-image" class="p-button-text p-button-sm" (click)="previewMissionReport(mission)"></button>
          <button *ngIf="!mission.report_path" pButton icon="pi pi-upload" class="p-button-text p-button-sm p-button-danger" (click)="previewMissionReport(mission)"></button>
        </td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm"
            (click)="onEditMission(mission)"></button>
          <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger"
            (click)="confirmDeleteMission(mission)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" style="text-align: center; color: #888;">No data available</td>
      </tr>
    </ng-template>
  </p-table>

  <ngx-spinner bdColor="rgb(51 51 51 / 45%)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="false">
  </ngx-spinner>
</div>

<p-dialog [header]="isEditMode ? 'Edit Mission' : 'Add New Mission'" [(visible)]="displayAddDialog"
  [modal]="true" [closable]="true" [style]="{width: '400px', height: '450px'}">
  <form (ngSubmit)="saveNewMission()" #missionForm="ngForm">
    <div class="flex flex-col gap-3">
      <div>
        <label class="block mb-1">Period From - To</label>
        <p-datepicker dateFormat="dd/mm/yy" fluid="true" (onSelect)="onPickDate($event)"
          [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" name="rangeDates" />
      </div>
      <div>
        <label class="block mb-1">Purpose</label>
        <span class="p-float-label w-full">
          <p-select [(ngModel)]="newMission.purpose_id" [filter]="true" filterBy="name" [options]="purposeOptions"
            optionLabel="name" optionValue="id" name="purpose_id" inputId="purpose_id" class="w-full"
            required></p-select>
        </span>
      </div>
      <div>
        <label class="block mb-1">Zone</label>
        <span class="p-float-label w-full">
          <p-select [(ngModel)]="newMission.zone_id" [filter]="true" filterBy="name" [options]="zoneOptions"
            optionLabel="name" optionValue="id" name="zone_id" inputId="zone_id" class="w-full" required></p-select>
        </span>
      </div>
      <div>
        <label class="block mb-1">City</label>
        <input type="text" pInputText [(ngModel)]="newMission.destination_city" name="destination_city" required
          class="w-full" />
      </div>
    </div>
    <br><br>
    <div class="flex justify-end gap-2 mt-4">
      <button pButton type="button" label="Cancel" class="p-button-text" (click)="cancelAddMission()"></button>
      <button pButton type="submit" [label]="isEditMode ? 'Edit' : 'Save'" [disabled]="!missionForm.form.valid"
        autofocus></button>
    </div>
  </form>
</p-dialog>

<p-dialog header="Mission Report Preview" [(visible)]="previewMissionReportDialog" [modal]="true" [closable]="true"
    [style]="missionPreviewUrl && isPdf(missionPreviewUrl) ? {'width': '98vw', 'max-width': '98vw', 'min-width': '98vw', 'height': '90vh'} : {}"
    [ngStyle]="missionPreviewUrl && isPdf(missionPreviewUrl) ? {'width': '98vw', 'max-width': '98vw', 'min-width': '98vw', 'height': '90vh'} : (missionPreviewUrl ? hasImage : noImage)">
  <div>
    <div *ngIf="missionPreviewUrl">
      <img *ngIf="isImage(missionPreviewUrl)" [src]="missionPreviewUrl" alt="Mission Report" style="max-width: 100%; border:1px solid #ccc;" />
      <a *ngIf="isPdf(missionPreviewUrl)" [href]="missionPreviewUrl" target="_blank">View PDF</a>
      <iframe *ngIf="isPdf(missionPreviewUrl) && safeMissionPreviewUrl"
          [src]="safeMissionPreviewUrl"
          frameborder="0"
          width="100%"
          style="height: 67vh; border:1px solid #ccc; display: block; margin: 0 auto;"></iframe>
    </div>
    <p-fileupload name="report" url="{{API_MISSION_REPORT_URL}}" (onBeforeUpload)="onBeforeMissionReportUpload($event)"
        (onUpload)="onMissionReportUpload($event)" [multiple]="false" accept="image/*,application/pdf"
        maxFileSize="1000000" mode="advanced" [style]="{'justify-items': 'center'}"
        chooseLabel="Choose File" uploadLabel="Upload File" cancelLabel="Cancel">
    </p-fileupload>
  </div>
</p-dialog>

<p-toast></p-toast>

<p-confirmDialog></p-confirmDialog>