<div class="flex justify-end mb-3">
  <button pButton type="button" label="Add New Mission" icon="pi pi-plus" (click)="onAddMission()"></button>
</div>
<p-dialog header="Add New Mission" [(visible)]="displayAddDialog" [modal]="true" [closable]="true" [style]="{width: '400px', height: '450px'}" >
  <form (ngSubmit)="saveNewMission()" #missionForm="ngForm">
    <div class="flex flex-col gap-3">
      <div>
        <label class="block mb-1">Zone</label>
        <span class="p-float-label w-full">
          <p-select [(ngModel)]="newMission.zone_id" [options]="zoneOptions" optionLabel="label" optionValue="value" name="zone_id" inputId="zone_id" class="w-full" required></p-select>
        </span>
      </div>
      <div>
        <label class="block mb-1">Date</label>
        <p-datepicker fluid="true" [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" />
      </div>
      <div>
        <label class="block mb-1">Purpose</label>
        <span class="p-float-label w-full">
          <p-select [(ngModel)]="newMission.purbose_id" [options]="purposeOptions" optionLabel="label" optionValue="value" name="purbose_id" inputId="purbose_id" class="w-full" required></p-select>
        </span>
      </div>
      <div>
        <label class="block mb-1">Destination City</label>
        <input pInputText type="text" [(ngModel)]="newMission.destination_city" name="destination_city" required class="w-full" />
      </div>
    </div>
    <div class="flex justify-end gap-2 mt-4">
      <button pButton type="button" label="Cancel" class="p-button-text" (click)="cancelAddMission()"></button>
      <button pButton type="submit" label="Save" [disabled]="!missionForm.form.valid" autofocus></button>
    </div>
  </form>
</p-dialog>
<p-table [value]="missions" dataKey="id" editable="true" class="p-datatable-sm"
         [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5,10,20]"
         [selection]="selectedMission" (selectionChange)="onSelectMission($event)"
         selectionMode="single">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="zone_id">Zone ID <p-sortIcon field="zone_id"></p-sortIcon></th>
      <th pSortableColumn="start_date">Start Date <p-sortIcon field="start_date"></p-sortIcon></th>
      <th pSortableColumn="end_date">End Date <p-sortIcon field="end_date"></p-sortIcon></th>
      <th pSortableColumn="purbose_id">Purpose ID <p-sortIcon field="purbose_id"></p-sortIcon></th>
      <th pSortableColumn="destination_city">Destination City <p-sortIcon field="destination_city"></p-sortIcon></th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-mission let-editing="editing">
    <tr [pSelectableRow]="mission">
      <td>{{ mission.id }}</td>
      <td>{{ mission.zone_id }}</td>
      <td>{{ mission.start_date }}</td>
      <td>{{ mission.end_date }}</td>
      <td>{{ mission.purbose_id }}</td>
      <td>{{ mission.destination_city }}</td>
      <td>
        <button pButton icon="pi pi-pencil" class="p-button-text p-button-sm" (click)="onEditMission(mission)"></button>
        <button pButton icon="pi pi-trash" class="p-button-text p-button-sm p-button-danger" (click)="onDeleteMission(mission)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
