<p style="text-align: center;">{{ selectedUnit ? selectedUnit : 'Select a unit to view details' }}</p>
<ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="visits"
    [xAxis]="true"
    [yAxis]="false"
    [legend]="false"
    [showXAxisLabel]="false"
    [showYAxisLabel]="false"
    [xAxisLabel]="'Date'"
    [yAxisLabel]="'Number of Visits'"
    [showDataLabel]="true"
    [showGridLines]="false"
    [roundDomains]="true"
    (select)="onSelect($event)">
</ngx-charts-bar-vertical>




<!-- <ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="visits"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical> -->