<div class="card" dir="rtl">
  <p-tabs [(value)]="activeTabValue">
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-flag-fill" style="transform: scalex(-1);"></i>المهمات
      </p-tab>
      <p-tab value="1" [disabled]="!mission">
        <i class="pi pi-list" style="transform: scalex(-1);"></i>التفاصيل
      </p-tab>
      <div style="margin: auto; font-size: large;">
        <p *ngIf="mission" style="color: #008861;">{{tabsHeader}}</p>
        <p *ngIf="!mission"> قم بإختيار مهمة لعرض التفاصيل</p>
      </div>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-mission></app-mission>
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-mission-staff *ngIf="mission?.id" [missionId]="mission?.id"></app-mission-staff>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>