<div class="card" dir="rtl">
  <p-tabs [(value)]="activeTabValue">
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-flag-fill" style="transform: scalex(-1);"></i>المهمات
      </p-tab>
      <p-tab value="1" [disabled]="!mission">
        <i class="pi pi-list" style="transform: scalex(-1);"></i>التفاصيل
      </p-tab>
      <div style="margin: auto; font-size: large;">
        <p *ngIf="mission" style="color: #008861;">{{tabsHeader}}</p>
        <p *ngIf="!mission"> قم بإختيار مهمة لعرض التفاصيل</p>
      </div>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <app-mission></app-mission>
      </p-tabpanel>
      <p-tabpanel value="1">
        <div style="background-color: #f5f5f5; padding: 1rem; border-radius: 10px;">

          <div style="display: flex;">
            <div class="card" dir="rtl" style="width: 48%; margin: auto;">
              <app-mission-staff *ngIf="mission?.id" [missionId]="mission?.id"></app-mission-staff>
            </div>
            <div class="card" dir="rtl" style="width: 48%; margin: auto;">
              <app-mission-car ></app-mission-car>
            </div>
          </div>
          
          <div style="display: flex; margin-top: 1rem;">
            <div class="card" dir="rtl" style="width: 48%; margin: auto;">
              <app-mission-battelion ></app-mission-battelion>
            </div>
            <div class="card" dir="rtl" style="width: 48%; margin: auto;">
              <app-mission-visit ></app-mission-visit>              
            </div>
          </div>
        </div>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>