/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';


body, .p-component {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  }
  
  // @font-face {
  //   font-family: Tajawal-Bold;
  //   src: local("Tajawal-Bold"), url(./assets/fonts/Tajawal-Bold/Tajawal-Bold.ttf) format("truetype");
  // }


// :root { /* Or body, html - :root is generally preferred for global variables */
//   --p-tabs-transition-duration: 5000ms; /* Adjust this value as desired */
//   --p-tabs-tabpanel-transition-duration: 5000ms;
// }

// /* If you want to be more specific to just the tabs in your component */
// /* (though global is fine for this kind of theme variable) */
// .p-tabs { /* Or a container class around your p-tabs if you have one */
//   --p-tabs-transition-duration: 5000ms;
// }

// .p-tabpanel { /* Or a container class around your p-tabs if you have one */
//   --p-tabs-tabpanel-transition-duration: 5000ms;
// }

.p-select-option-group {
    background: #858585 !important;
    color: white !important;
    border-radius: 7px !important;
}